<html>
    <body>
        <svg></svg>
        <script>
            var map_data = {{map_data | safe}}
            console.log(map_data)
        </script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    </body>
</html>