<html>
    <body>
        <svg width=500 height=500></svg>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    </body>
</html>